<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="color">COLORS</div>

<div class="mb-3" style="margin-top: 10px">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Start typing..."
  />
</div>

<ul class="list-group">
  <li (click)="resetCurrentColor()" routerLink="/cars" class="list-group-item tprent">
    All
  </li>
  <li class="tprent"
    (click)="setCurrentColor(color)"
    [class]="getCurrentColorClass(color)"
    *ngFor="let color of colors | colorFilter: filterText"
    routerLink="/cars/colors/{{ color.colorId }}"
  >
    {{ color.colorName }}
  </li>
</ul>
