.color {
    font-weight: bold;
    background-color: rgb(68, 158, 50);
    color: white;
    text-align: center;
<<<<<<< HEAD
    margin-top: 20px;
=======
    margin-top: 50px;
>>>>>>> ddbf76170f500f304760d940b4de7fd8160c6f3a
    padding: 10px;
    border-radius: 5px;
}