<nav
  class="navbar navbar-expand-md navbar-dark bg-dark"
  aria-label="Fourth navbar example"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="">Car Rental Company</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample04"
      aria-controls="navbarsExample04"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="cars">Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="car-list">Car Actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="brands">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="colors">Colors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rentals">Rentals</a>
        </li>
      </ul>
      <div class="row">

        <div class="col-md-6" *ngIf="!isAuth()">
          <button type = "button" routerLink="register" class="btn btn-primary">Register</button>
        </div>
        <div class="col-md-6" *ngIf="!isAuth()">
          <button type = "button" class="btn btn-outline-primary" routerLink="login">Login</button>
        </div>

        <div class="btn-group" *ngIf="isAuth()">
          <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome, {{user?.firstName}} {{user?.lastName}}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="user">User settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a type="button" class="dropdown-item" (click)="logOut()">Log out</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>
<br />
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Car Rental Company</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="cars">Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="car-list">Car Actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="brands">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="colors">Colors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rentals">Rentals</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
