<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="brand">BRANDS</div>

<div class="mb-3" style="margin-top: 10px">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Start typing..."
  />
</div>

<ul class="list-group">
  <li (click)="resetCurrentBrand()" routerLink="/cars" class="list-group-item tprent">
    All Brands
  </li>
  <li class="tprent"
    (click)="setCurrentBrand(brand)"
    [class]="getCurrentBrandClass(brand)"
    *ngFor="let brand of brands | brandFilter: filterText"
    routerLink="/cars/brands/{{ brand.brandId }}"
  >
    {{ brand.brandName }}
  </li>
</ul>
