<div class="col-md-6">
  <br />
  <div class="mb-3" style="margin-top: 10px">
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Search..."
    />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th style="text-align: center">Color Name</th>
        <th style="padding-left: 100px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let color of colors | colorFilter: filterText" class="hovers">
        <td style="text-align: center">{{ color.colorName }}</td>
        <div align="center">
          <button
            (click)="deleteColor(color)"
            type="button"
            class="btn btn-danger"
          >
            <span>Delete</span>
          </button>
        </div>
      </tr>
    </tbody>
  </table>
</div>
