<div class = "row">
  <div class="col-md-1">
    <br>
    <img routerLink="/cars" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_arrow_back_48px-512.png" type = "button" width="65" height="50" alt="go back">
  </div>
  <div class = "col-md-11">
    <div *ngIf="dataLoaded == true" class="title">CAR IMAGES</div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
    
        <div  class="carousel-item " *ngFor="let image of images; first as fImg" [ngClass] = "{active: fImg}">
          <div align="center"><img src="{{apiUrl}}{{image.imagePath}}" width="800" height="400" alt="{{image.imagePath}}"></div>
        </div> 
    
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div *ngIf="dataLoaded == false" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div *ngIf="dataLoaded == true" class="title">CAR INFO</div>
    <table class="table">
      <thead>
        <tr>
          <th style="text-align: center;">Color</th>
          <th style="text-align: center;">Brand</th>
          <th style="text-align: center;">Model Year</th>
          <th style="text-align: center;">Description</th>
          <th style="text-align: center;">Daily Price</th>
        </tr>
      </thead>
      <tr>
        <td style="text-align: center;">{{ car?.colorName }}</td>
        <td style="text-align: center;">{{ car?.brandName }}</td>
        <td style="text-align: center;">{{ car?.modelYear }}</td>
        <td style="text-align: center;">{{ car?.description }}</td>
        <td style="text-align: center;">{{ car?.dailyPrice }} $</td>
      </tr>
    </table>
  </div>
  
</div>
