.title{
    font-weight: bold;
    text-align: center;
<<<<<<< HEAD
    background-color: #0D6EFD;
=======
    background-color: red;
>>>>>>> ddbf76170f500f304760d940b4de7fd8160c6f3a
    color: white;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
}

.esnek {
  width: 100%;
  max-width: 400px;
  height: auto;
}
<<<<<<< HEAD
 
.but{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #c7c9c7;
  border-color: #c7c9c7;
}
=======
 
>>>>>>> ddbf76170f500f304760d940b4de7fd8160c6f3a
