.but{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .but:hover{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .but:focus, .but.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  }