<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <table *ngIf="dataLoaded!=false" class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Customer Name</th>
        <th>Rent Date</th>
        <th>Return Date</th>
      </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
      <td>{{ rental.id }}</td>
      <td>{{ rental.brandName }}</td>
      <td>{{ rental.customerName }}</td>
      <td>{{ rental.rentDate }}</td>
      <td>{{ rental.returnDate }}</td>
    </tr>
  </table>