<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div *ngIf="dataLoaded == true" class="rental">
  Rentals
</div>

<table *ngIf="dataLoaded != false" class="table">
  <thead>
    <tr>
      <th style="text-align: center;">Id</th>
      <th style="text-align: center;">Brand</th>
      <th style="text-align: center;">Customer Name</th>
      <th style="text-align: center;">Rent Date</th>
      <th style="text-align: center;">Return Date</th>
    </tr>
  </thead>
  <tr *ngFor="let rental of rentals">
    <td style="text-align: center;">{{ rental.id }}</td>
    <td style="text-align: center;">{{ rental.brandName }}</td>
    <td style="text-align: center;">{{ rental.customerName }}</td>
    <td style="text-align: center;">{{ rental.rentDate }}</td>
    <td style="text-align: center;">{{ rental.returnDate }}</td>
  </tr>
</table>
