<div class="modal-dialog modal-lg">
  <div class="modal-content" style="background-color: rgba(255, 255, 255, 0.295); color: white;">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Add New Car</h5>
    </div>
    <div class="modal-body">
      <form [formGroup]="carAddForm">
        <div class="row">
          <div class="col-md-6">
            <label for="brandId">Select Brand</label>
            
              <select class="form-select" formControlName="brandId">
                <option *ngFor="let brand of brands" [ngValue]="brand.brandId">
                  {{ brand.brandName }}
                </option>
              </select>
            

            <label for="modelYear">Model Year</label>

            <div class="form-group">
              <input
                type="number"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="Enter year"
              />
            </div>
          </div>

          <div class="col-md-6">
            <label for="colorId">Select Color</label>
            
              <select class="form-select" formControlName="colorId">
                <option *ngFor="let color of colors" [ngValue]="color.colorId">
                  {{ color.colorName }}
                </option>
              </select>
            

            <label for="dailyPrice">Daily Price</label>

            <div class="form-group">
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="Enter price..."
              />
            </div>
          </div>

          <label for="minFindexPoint">Minimum Findex Score</label>
          <div class="form-group">
            <input
              type="number"
              id="minFindexPoint"
              formControlName="minFindexPoint"
              class="form-control"
              placeholder="Enter the car minimum findex point (0-1900)"
            />
          </div>

          <label for="description">Description</label>
          <div class="form-group">
            <input
              type="text"
              id="description"
              formControlName="description"
              class="form-control"
              placeholder="Enter car description"
            />
          </div>
          <br />
        </div>

        <a style="float: right">
          <button
            type="button"
            class="btn btn-warning"
            style="float: right; margin: 10px; font-weight: bold;"
            (click)="addCar()"
          >
            Add Car
          </button>
        </a>
      </form>
    </div>
  </div>
</div>
