.car{
    font-weight: bold;
    background-color: #0D6EFD;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.hovers:hover{
    background-color:rgba(186, 187, 182, 0.863);
}