<br />
<div *ngIf="car" class="content">
  <div class="col-md-12">
    <div class="row" style="margin-bottom: 10px">
      <div class="col-md-6">
        <input
          type="text"
          [(ngModel)]="filterText1"
          class="form-control"
          id="filterText"
          placeholder="Search brand..."
          style="margin-bottom: 10px"
        />
        <select class="form-select" size="4">
          <option
            *ngFor="let brand of brands | brandFilter: filterText1"
            [value]="brand.brandName"
          >
            {{ brand.brandName }} -> {{ brand.brandId }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <input
          type="text"
          [(ngModel)]="filterText2"
          class="form-control"
          id="filterText"
          placeholder="Search color..."
          style="margin-bottom: 10px"
        />
        <select class="form-select" size="4">
          <option
            *ngFor="let color of colors | colorFilter: filterText2"
            [value]="color.colorName"
          >
            {{ color.colorName }} -> {{ color.colorId }}
          </option>
        </select>
      </div>
    </div>

    <div
      class="card"
      style="background-color: rgba(255, 255, 255, 0.295); color: white"
    >
      <div class="card-header"><h5 class="title">Update</h5></div>
      <div class="card-body">
        <form [formGroup]="carUpdateForm">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="id">Id</label>
                <div class="form-group">
                  <input
                    readonly
                    type="number"
                    id="id"
                    formControlName="id"
                    class="form-control"
                    [(ngModel)]="car.id"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="minFindexPoint">Minimum Findex Point</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="minFindexPoint"
                    formControlName="minFindexPoint"
                    class="form-control"
                    [(ngModel)]="car.minFindexPoint"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="brandId">Change Brand</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="brandId"
                    formControlName="brandId"
                    class="form-control"
                    [(ngModel)]="car.brandId"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="modelYear">Model Year</label>
                <div class="form-group">
                  <input
                    type="text"
                    id="modelYear"
                    formControlName="modelYear"
                    class="form-control"
                    [(ngModel)]="car.modelYear"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="colorId">Change Color</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="colorId"
                    formControlName="colorId"
                    class="form-control"
                    [(ngModel)]="car.colorId"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="dailyPrice">Daily Price</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="dailyPrice"
                    formControlName="dailyPrice"
                    class="form-control"
                    [(ngModel)]="car.dailyPrice"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="description">Description</label>
            <div class="form-group">
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                [(ngModel)]="car.description"
              />
            </div>
          </div>
        </form>
      </div>
      <div style="text-align: center" class="card-footer">
        <button
          class="btn btn-fill btn-warning"
          style="font-weight: bold"
          (click)="update()"
        >
          Update
        </button>
      </div>
    </div>

    <hr />
    <div class="alert alert-warning" role="alert">
      If some property values are not displayed, please refresh the page.
    </div>
  </div>
</div>
