<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <div *ngIf="dataLoaded == true" class="customer">
    Customers
  </div>

  <table *ngIf="dataLoaded!=false" class="table">
    <thead>
      <tr>
        <th style="text-align: center;">Id</th>
        <th style="text-align: center;">User Id</th>
        <th style="text-align: center;">Company Name</th>
      </tr>
    </thead>
    <tr *ngFor="let customer of customers">
      <td style="text-align: center;">{{ customer.id }}</td>
      <td style="text-align: center;">{{ customer.userId }}</td>
      <td style="text-align: center;">{{ customer.companyName }}</td>

    </tr>
  </table>